@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #0a0a0a;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

